$accent: #FF6838;
$default: #31352B;
$darkBlue-900: #363853;
$silver-100: #F9FAFF;
$gray: #C2C2C2;
$silver-200: #ECECEC;
$white: #FFF;
$soap: #FFF2ED;
$monaLisa: #FFAE94;
$coral: #FF7A50;

$font-rubic: 'Rubik', sans-serif;



