$accent: #FF6838;
$default: #31352B;
$title: #363853;
$bg: #F9FAFF;
$gray: #C2C2C2;
$border: #ECECEC;
$white: #FFF;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%btn {
   background-color: $accent;
   color: #fff;
   border: none;
   border-radius: 5px;
   line-height: 1.3;
   cursor: pointer;
}